@model DTO.DTOS.StockDTO.AddProductToStockDTO
@{
    ViewData["Title"] = "AddProduct";
}
<div class="container">

    <!-- Basic Validation -->
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-8 col-xs-8">
            <div class="card">
                <div class="header text-center">
                    <h2>Yeni məhsul</h2>
                </div>
                <div class="body">
                    <form id="form_validation" method="post">
                        <div class="form-group form-float">
                            <label class="form-label">Daxil edilən məhsul</label>
                            <div class="form-line">
                                <input type="text" asp-for="ProductName" class="form-control">

                            </div>

                        </div>
                        <div class="form-group form-float">
                            <label class="form-label">Maya qiyməti</label>
                            <div class="form-line">
                                <input type="number" asp-for="BuyingPrice" class="form-control">

                            </div>

                        </div>
                               <div class="form-group form-float">
                            <label class="form-label">Satış qiyməti</label>
                            <div class="form-line">
                                <input type="number" asp-for="SellingPrice" class="form-control">

                            </div>

                        </div>
                        <div class="form-group form-float">
                            <label class="form-label">Məhsul sayı</label>
                            <div class="form-line">
                                <input type="number" asp-for="ProductCount" class="form-control">

                            </div>

                        </div>
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="text-center">
                            <button class="btn btn-primary waves-effect" type="submit">Yenilə</button>
                            <a asp-action="ProductList" class="btn btn-success">Geri</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

