@model DTO.DTOS.BodyShapingDTO.BodyShapingComboDTO
@{
    ViewData["Title"] = "ComboPacket";
    Layout = "~/Areas/ArzumEstetic/Views/Shared/_ArzumEsteticLayout.cshtml";
}

<div class="container">

    <!-- Basic Validation -->
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-8 col-xs-8">
            <div class="card">
                <div class="header text-center">
                    <h2> Bədən şəkilləndirmə Kombo paket formu</h2>
                </div>
                <div class="body">
                    <form id="form_validation" method="post">
                        <div class="form-group form-float">
                            <label class="form-label">Müştəri adı və soyadı</label>
                            <div class="form-line">
                                <input type="text" asp-for="CustomerName" class="form-control">

                            </div>
                            
                        </div>
                        <div class="form-group form-float">
                            <label class="form-label">Bədən şəkilləndirmə ustası</label>
                            <div class="form-line">
                                <input type="text" asp-for="Master" class="form-control" readonly>

                            </div>
                          
                            </div>
                        <div class="form-group form-float">
                            <label class="form-label">Paketlər</label>
                            <select class="form-control show-tick" asp-for="CategoryId" id="categoryId">
                                <option selected>Seçin...</option>
                                @foreach (var item in Model.BodyShapingPacketCategories)
                                {

                                    <option value="@item.Id" data-price="@item.Price">@item.Packet</option>

                                }
                            </select>
                        </div>
                    
               
                        <div class="form-group form-float" style="padding-top:14px">
                            <label class="form-label">Ödəniş <span class="font-bold col-pink"></span></label>

                            <div class="form-line">
                                <input type="number" asp-for="Price" id="price" class="form-control" id="Price" step="0.1" min="0" readonly>
                            </div>
                            <span class="font-bold col-pink"></span>
                        </div>
                 

                        <div class="font-bold col-pink" asp-validation-summary="ModelOnly"></div>
                        <div class="text-center">
                            <button class="btn btn-primary waves-effect" type="submit" id="submitButton">Əlavə et</button>
                            <a asp-action="BodyShapingMasterPage" asp-route-BodyShapingMasterId="@Model.BodyShapingMasterId" class="btn btn-success">Geri</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>



<script>
    $(document).ready(function () {
        var totalPrice = 0;
        $('#categoryId').change(function () {
            var selectedOptions = $('#categoryId option:selected');
            var selectedTotalPrice = 0;

            selectedOptions.each(function () {
                selectedTotalPrice += parseFloat($(this).data('price'));
            });

            totalPrice = selectedTotalPrice;

            $('#price').val(totalPrice);
        });
    });
</script>
<script>


    document.getElementById("form_validation").addEventListener("submit", function (event) {

        document.getElementById("submitButton").disabled = true;


        setTimeout(function () {
            document.getElementById("submitButton").disabled = false;
        }, 5000);
    });

</script>