@model DTO.DTOS.AppUserDto.PasswordUpdateDTO
@{
    ViewData["Title"] = "AllInfo";
    Layout = "~/Areas/Support/Views/Shared/_SupportLayout.cshtml";
}

<div class="container">

    <!-- Basic Validation -->
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-8 col-xs-8">
            <div class="card">
                <div class="header text-center">
                    <h2>Şifrə yenilə</h2>
                </div>
                <div class="body">
                    <form id="form_validation" method="post">
                        <p>
                            <label>İstifadəçi</label>
                        </p>
                        <div class="input-group">

                            <span class="input-group-addon">
                                <i class="material-icons">person</i>
                            </span>
                            <div class="form-line">
                                <input type="text" asp-for="UserName" class="form-control" placeholder="Ad və Soyad" readonly>
                            </div>
                        </div>
                        <p>
                            <label>Yeni şifrə</label>
                        </p>
                        <div class="input-group">

                            <span class="input-group-addon">
                                <i class="material-icons">password</i>
                            </span>
                            <div class="form-line">
                                <input type="text" asp-for="Password" class="form-control" placeholder="Yeni şifrə" >
                            </div>
                        </div>
                        <p>
                            <label>Şifrə təkrarı</label>
                        </p>
                        <div class="input-group">

                            <span class="input-group-addon">
                                <i class="material-icons">password</i>
                            </span>
                            <div class="form-line">
                                <input type="text" asp-for="ConfirmPassword" class="form-control" placeholder="Şifrə təkrarı">
                            </div>
                        </div>
                        <div class="font-bold col-pink" asp-validation-summary="ModelOnly"></div>
                        <div class="text-center">
                            <button class="btn btn-primary waves-effect" type="submit" id="submitButton">Yenilə</button>
                            <a asp-action="AllUsers" class="btn btn-success">Geri</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


