<h1>@User.Identity.Name Xoş gəlmisən!</h1>
<h2>
    Siz buradan sistemi idarə edə bilərsiniz!Edilmiş dəyişikliklər digər istifadəçilər tərəfindən
    görülsədə sizin adınızdan edilmiş olmasına aid heç bir sübut ola bilməz!
</h2>
<h2>
  <b> Sistemdə etdiyiniz Dəyişikliklər qaydalara uyğun olaraq aparılır!Əgər bura texniki dəstək komandası xaricində olan bir şəxs daxil olarsa sistem tərəfindən avtomatik Yaradıcıya mesaj gedir.Buna görə diqqətli olun!</b>
</h2>
