@model DTO.DTOS.KassaActionsDTO.KassaActionsDTO
@{
    ViewData["Title"] = "OutMoneyForOwner";
}

<div class="container">

   
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-8 col-xs-8">
            <div class="card">
                <div class="header text-center">
                    <h2>Kassaya Mədaxil</h2>
                </div>
                <div class="body">
                    <form id="form_validation" method="post">
                        <div class="form-group form-float">
                            <label class="form-label">Kassadakı məbləğ</label>
                            <div class="form-line">
                                <input type="number" asp-for="Budget" class="form-control" readonly>

                            </div>

                        </div>

                        <div class="form-group form-float">
                            <label class="form-label">Əlavə ediləcək məbləğ</label>
                            <div class="form-line">
                                <input type="number" asp-for="OutMoney" class="form-control" step="0.1">

                            </div>

                        </div>
                        <div class="form-group form-float">
                            <label class="form-label">Açıqlama</label>
                            <div class="form-line">
                                <textarea type="text" asp-for="Description" class="form-control"></textarea>

                            </div>

                        </div>
                        <p>
                            <label>Əlavə edilmə  tarixi</label>
                        </p>
                        <div class="input-group">

                            <span class="input-group-addon">
                                <i class="material-icons">date_range</i>
                            </span>
                            <div class="form-line">
                                <input type="datetime-local" asp-for="ProcessDate" class="form-control datetime" placeholder="Ex: 30/07/2016 23:59">
                            </div>
                        </div>


                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="text-center">
                            <button class="btn btn-primary waves-effect" type="submit">Yenilə</button>
                            <a asp-action="KassaActionList" class="btn btn-success">Geri</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
