@model DTO.DTOS.CustomerDTO.AddCustomerDTO
@{
    ViewData["Title"] = "Yeni müştəri";
}


<div class="container">

    <!-- Basic Validation -->
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-8 col-xs-8">
            <div class="card">
                <div class="header text-center">
                    <h2>Yeni müştəri</h2> 
                </div>
                <div class="body">
                    <form id="form_validation" method="post">
                        <div class="form-group form-float">
                            <label class="form-label">Ad və Soyad</label>
                            <div class="form-line">
                                <input type="text" asp-for="FullName" class="form-control">
                             
                            </div>
                        </div>

                        <div class="form-group form-float" style="padding-top:14px">
                            <label class="form-label">Mobil nömrə <span class="font-bold col-pink"> - Nümunə:(0553454532) *</span></label>
        
                            <div class="form-line">
                                <input  asp-for="PhoneNumber" class="form-control" value="0">
                            </div>
                            <span  class="font-bold col-pink"></span>
                        </div>
                      @*   <div class="demo-radio-button">
                            <label class="form-label">Cinsi</label>
                            <div class="form-line">
                                <input name="IsFemale" asp-for="IsFemale" type="radio" value="True" id="radio_30" class="with-gap radio-col-red">
                                <label for="radio_30">Qadın</label>
                                <input name="IsFemale" asp-for="IsFemale" type="radio" value="False" id="radio_31" class="with-gap radio-col-blue">
                                <label for="radio_31">Kişi</label>
                            </div>

                        </div> *@
                        <label class="form-label">Doğum tarixi <span class="font-bold col-pink"> - gün/ay/il</span></label>
                        <div class="input-group">
                        
                            <span class="input-group-addon">
                             
                                <i class="material-icons">date_range</i>
                            </span>
                            <div class="form-line">
                                <input type="date" asp-for="BirthDate" class="form-control date" placeholder="Ex: 30/07/2016" wfd-id="id9">
                            </div>
                       </div>
                      
                      

                        <div class="font-bold col-pink" asp-validation-summary="ModelOnly"></div>
                        <div class="text-center">
                            <button class="btn btn-primary waves-effect" type="submit" id="submitButton">Əlavə et</button>
                            <a asp-action="FemaleList" class="btn btn-success">Geri</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.19.3/jquery.validate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.19.3/jquery.validate.min.js"></script>

<script>


    document.getElementById("form_validation").addEventListener("submit", function (event) {
        // Form gönderildiğinde butonu devre dışı bırak
        document.getElementById("submitButton").disabled = true;

        // 3 saniye sonra butonu tekrar etkinleştir
        setTimeout(function () {
            document.getElementById("submitButton").disabled = false;
        }, 5000); // 3 saniye (3000 milisaniye)
    });

</script>
