@model DTO.DTOS.LazerAppointmentDTO.CompletelySecondSessionEndDTO
@{
    ViewData["Title"] = "Yeni müştəri";
    Layout = "~/Areas/ArzumBeauty/Views/Shared/_ArzumEsteticLayout.cshtml";
}

<div class="container">

    <!-- Basic Validation -->
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-8 col-xs-8">
            <div class="card">
                <div class="header text-center">
                    <h2>Çıxış formu</h2>
                </div>
                <div class="body">
                    <form id="form_validation" method="post">
                        <div class="form-group form-float">
                            <label class="form-label">Müştəri</label>
                            <div class="form-line">
                                <input type="text" asp-for="CustomerFullName" class="form-control" readonly>

                            </div>
                        </div>
                        <div class="form-group form-float">
                            <label class="form-label">Lazeroloq</label>
                            <div class="form-line">
                                <input type="text" asp-for="Lazeroloq" class="form-control" readonly>

                            </div>
                        </div>
                        <label class="form-label"> Çıxış saatı</label>
                        <div class="input-group">

                            <span class="input-group-addon">

                                <i class="material-icons">date_range</i>
                            </span>
                            <div class="form-line">
                                <input type="datetime-local" asp-for="InCompleteEnd" class="form-control date" placeholder="Ex: 30/07/2016" wfd-id="id9">
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <label class="form-label">İmpuls sayı</label>
                            <div class="form-line">
                                <input type="number" asp-for="ImpulsCount" class="form-control">

                            </div>
                        </div>
                
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="text-center">
                            <button class="btn btn-primary waves-effect" type="submit">Yenilə</button>
                            <a asp-controller="LazerAppointment" asp-action="InCompleteSessionList" class="btn btn-success">Geri</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>